{% extends "::base.html.twig" %}
{% block head %}
{% endblock %}
{% block body %}
    <!-- Content Start -->
    <section class="content inner-pg blog-pg clearfix">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-title clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="breadcrumb-left">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{{ path('sante_home') }}">HOME</a>
                                </li>
                                <li class="active">ARTICLES & EVENTS</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="breadcrumb-right">
                            <h5>Articles & Events</h5>
                        </div>
                    </div><!--/.col-sm-6 col-md-6-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!-- Breadcrumb End -->
        <div class="container">
            <!-- Inner Pages Start -->
            <div class="inner-content clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-9">
                        <!-- Content Description Start -->
                        <div class="content-desc clearfix">
                            <!-- Blog Lists Start -->
                            <div class="blog-lists clearfix">
                                <!-- Blog Post Start -->
                                <div class="blog-post clearfix">
                                    <!-- Blog Image Start -->
                                    <div class="blog-image clearfix">
                                        <a class="image clearfix" href="#"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/blog-post1.jpg')}}">
                                            <div class="overlay"></div></a> <!-- Employee Detail Start -->
                                        <div class="emp-detail clearfix">
                                            <div class="row">
                                                <div class="emp-left emp-block">
                                                    <div class="emp-left emp-block">
                                                        <div class="image"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/clinic-staff2.jpg')}}"></div><a href="#">mihai</a>
                                                        <ul>
                                                            <li>FRIDAY, 30 SEPTEMBER 2016</li>
                                                            <li>PUBLISHED IN <a href="#">UNCATEGORIZED</a>
                                                            </li>
                                                        </ul>
                                                    </div><!--/.emp-left emp-block-->
                                                </div><!--/.emp-left emp-block-->
                                                <div class="col-sm-2 col-md-2">
                                                    <div class="emp-right emp-block">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i aria-hidden="true" class="fa fa-comment-o"></i> 0</a>
                                                            </li>
                                                        </ul>
                                                    </div><!--/.emp-right emp-block-->
                                                </div><!--/.col-sm-2 col-md-2-->
                                            </div><!--/.row-->
                                        </div><!-- Employee Detail End -->
                                    </div><!-- Blog Image End -->
                                    <!-- Blog Detail Start -->
                                    <div class="blog-detail clearfix">
                                        <a href="#">Ultrasmall nanoparticles kill cancer cells in unusual way</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque orci at eleifend sagittis. Cras mollis magna ex, viverra placerat orci ornare pretium. Fusce sed nibh ac nisl rutrum bibendum sed quis lectus. Vestibulum at pulvinar lectus. Sed ac lobortis neque, id dignissim ex. Curabitur a purus vel mauris consequat ornare. Pellentesque erat nisi, consectetur</p><!-- Read More SVG Start -->
                                        <a class="read-more" href="#" title="Read more"><svg height="57px" version="1.1" viewbox="0 0 59 57" width="59px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23,35 C23.5522847,35 24,35.4477153 24,36 C24,36.5522847 23.5522847,37 23,37 C22.4477153,37 22,36.5522847 22,36 C22,35.4477153 22.4477153,35 23,35 L23,35 Z M28,36 C28,36.5522847 27.5522847,37 27,37 C26.4477153,37 26,36.5522847 26,36 C26,35.4477153 26.4477153,35 27,35 C27.5522847,35 28,35.4477153 28,36 L28,36 Z M31,35 C31.5522847,35 32,35.4477153 32,36 C32,36.5522847 31.5522847,37 31,37 C30.4477153,37 30,36.5522847 30,36 C30,35.4477153 30.4477153,35 31,35 L31,35 Z" fill="#333333"></path>
                                                <rect class="svg-more-l1" fill="#333333" height="2" width="16" x="22" y="21"></rect>
                                                <rect class="svg-more-l2" fill="#333333" height="2" width="10" x="22" y="25"></rect>
                                                <rect class="svg-more-l3" fill="#333333" height="2" width="16" x="22" y="29"></rect>
                                                <rect class="svg-more-bg" fill="none" height="49" rx="5" stroke="#333333" stroke-width="2" width="51" x="4" y="4"></rect></svg></a> <!-- Read More SVG End -->
                                    </div><!-- Blog Detail End -->
                                </div><!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="blog-post clearfix">
                                    <!-- Blog Image Start -->
                                    <div class="blog-image clearfix">
                                        <a class="image clearfix" href="#"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/blog-post2.jpg')}}">
                                            <div class="overlay"></div></a> <!-- Employee Detail Start -->
                                        <div class="emp-detail clearfix">
                                            <div class="row">
                                                <div class="col-sm-10 col-md-10">
                                                    <div class="emp-left emp-block">
                                                        <div class="image"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/clinic-staff2.jpg')}}"></div><a href="#">mihai</a>
                                                        <ul>
                                                            <li>FRIDAY, 30 SEPTEMBER 2016</li>
                                                            <li>PUBLISHED IN <a href="#">UNCATEGORIZED</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-md-2">
                                                    <div class="emp-right emp-block">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i aria-hidden="true" class="fa fa-comment-o"></i> 0</a>
                                                            </li>
                                                        </ul>
                                                    </div><!--/.emp-right emp-block-->
                                                </div><!--/.col-sm-2 col-md-2-->
                                            </div><!--/.row-->
                                        </div><!-- Employee Detail End -->
                                    </div><!-- Blog Image End -->
                                    <!-- Blog Detail Start -->
                                    <div class="blog-detail clearfix">
                                        <a href="blog-single.html">Eye lens regeneration from own stem cells</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque orci at eleifend sagittis. Cras mollis magna ex, viverra placerat orci ornare pretium. Fusce sed nibh ac nisl rutrum bibendum sed quis lectus. Vestibulum at pulvinar lectus. Sed ac lobortis neque, id dignissim ex. Curabitur a purus vel mauris consequat ornare. Pellentesque erat nisi, consectetur</p><!-- Read More SVG Start -->
                                        <a class="read-more" href="blog-single.html" title="Read more"><svg height="57px" version="1.1" viewbox="0 0 59 57" width="59px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23,35 C23.5522847,35 24,35.4477153 24,36 C24,36.5522847 23.5522847,37 23,37 C22.4477153,37 22,36.5522847 22,36 C22,35.4477153 22.4477153,35 23,35 L23,35 Z M28,36 C28,36.5522847 27.5522847,37 27,37 C26.4477153,37 26,36.5522847 26,36 C26,35.4477153 26.4477153,35 27,35 C27.5522847,35 28,35.4477153 28,36 L28,36 Z M31,35 C31.5522847,35 32,35.4477153 32,36 C32,36.5522847 31.5522847,37 31,37 C30.4477153,37 30,36.5522847 30,36 C30,35.4477153 30.4477153,35 31,35 L31,35 Z" fill="#333333"></path>
                                                <rect class="svg-more-l1" fill="#333333" height="2" width="16" x="22" y="21"></rect>
                                                <rect class="svg-more-l2" fill="#333333" height="2" width="10" x="22" y="25"></rect>
                                                <rect class="svg-more-l3" fill="#333333" height="2" width="16" x="22" y="29"></rect>
                                                <rect class="svg-more-bg" fill="none" height="49" rx="5" stroke="#333333" stroke-width="2" width="51" x="4" y="4"></rect></svg></a> <!-- Read More SVG End -->
                                    </div><!-- Blog Detail End -->
                                </div><!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="blog-post clearfix">
                                    <!-- Blog Image Start -->
                                    <div class="blog-image clearfix">
                                        <a class="image clearfix" href="#"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/blog-post3.jpg')}}">
                                            <div class="overlay"></div></a> <!-- Employee Detail Start -->
                                        <div class="emp-detail clearfix">
                                            <div class="row">
                                                <div class="col-sm-10 col-md-10">
                                                    <div class="emp-left emp-block">
                                                        <div class="image"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/clinic-staff3.jpg')}}"></div><a href="#">mihai</a>
                                                        <ul>
                                                            <li>FRIDAY, 30 SEPTEMBER 2016</li>
                                                            <li>PUBLISHED IN <a href="#">UNCATEGORIZED</a>
                                                            </li>
                                                        </ul>
                                                    </div><!--/.emp-left emp-block-->
                                                </div><!--/.col-sm-10 col-md-10-->
                                                <div class="col-sm-2 col-md-2">
                                                    <div class="emp-right emp-block">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i aria-hidden="true" class="fa fa-comment-o"></i> 0</a>
                                                            </li>
                                                        </ul>
                                                    </div><!--/.emp-right emp-block-->
                                                </div><!--/.col-sm-2 col-md-2-->
                                            </div><!--/.row"-->
                                        </div><!-- Employee Detail End -->
                                    </div><!-- Blog Image End -->
                                    <!-- Blog Detail Start -->
                                    <div class="blog-detail clearfix">
                                        <a href="blog-single.html">Sense of smell may predict Alzheimer’s risk</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque orci at eleifend sagittis. Cras mollis magna ex, viverra placerat orci ornare pretium. Fusce sed nibh ac nisl rutrum bibendum sed quis lectus. Vestibulum at pulvinar lectus. Sed ac lobortis neque, id dignissim ex. Curabitur a purus vel mauris consequat ornare. Pellentesque erat nisi, consectetur</p><!-- Read More SVG Start -->
                                        <a class="read-more" href="blog-single.html" title="Read more"><svg height="57px" version="1.1" viewbox="0 0 59 57" width="59px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23,35 C23.5522847,35 24,35.4477153 24,36 C24,36.5522847 23.5522847,37 23,37 C22.4477153,37 22,36.5522847 22,36 C22,35.4477153 22.4477153,35 23,35 L23,35 Z M28,36 C28,36.5522847 27.5522847,37 27,37 C26.4477153,37 26,36.5522847 26,36 C26,35.4477153 26.4477153,35 27,35 C27.5522847,35 28,35.4477153 28,36 L28,36 Z M31,35 C31.5522847,35 32,35.4477153 32,36 C32,36.5522847 31.5522847,37 31,37 C30.4477153,37 30,36.5522847 30,36 C30,35.4477153 30.4477153,35 31,35 L31,35 Z" fill="#333333"></path>
                                                <rect class="svg-more-l1" fill="#333333" height="2" width="16" x="22" y="21"></rect>
                                                <rect class="svg-more-l2" fill="#333333" height="2" width="10" x="22" y="25"></rect>
                                                <rect class="svg-more-l3" fill="#333333" height="2" width="16" x="22" y="29"></rect>
                                                <rect class="svg-more-bg" fill="none" height="49" rx="5" stroke="#333333" stroke-width="2" width="51" x="4" y="4"></rect></svg></a> <!-- Read More SVG End -->
                                    </div><!-- Blog Detail End -->
                                </div><!-- Blog Post End -->
                            </div><!-- Blog Lists End -->
                        </div><!-- Content Description End -->
                    </div><!--/.col-sm-12 col-md-8 col-lg-9-->
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <!-- Sidebar Widget Start -->
                        <div class="blog-sidebar-widget white-bg clearfix">
                            <!-- Widget Block Start -->
                            <div class="widget-block">
                                <!-- Widget Detail Start -->
                                <div class="widget-detail">
                                    <div class="search-box clearfix">
                                        <input class="form-control" placeholder="SEARCH..." type="text"> <a href="#"><i aria-hidden="true" class="fa fa-search"></i></a>
                                    </div>
                                </div><!-- Widget Detail End -->
                            </div><!-- Widget Block End -->
                            <!-- Widget Block Start -->
                            <div class="widget-block">
                                <div class="widget-title">
                                    <h6>RECENT POSTS</h6>
                                </div><!-- Widget Detail Start -->
                                <div class="widget-detail">
                                    <div class="recent-posts clearfix">
                                        <!-- Post Block Start -->
                                        <div class="post-block clearfix">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <a class="image" href="blog-single.html"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/media-health-img3.jpg')}}"></a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="post-desc">
                                                        <a href="blog-single.html">Ultrasmall nanoparticles kill cancer cells in unusual way</a>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisc...</p>
                                                    </div><!--/.post-desc-->
                                                </div><!--/.col-xs-8 col-sm-8 col-md-8-->
                                            </div><!--/.row"-->
                                        </div><!-- Post Block End -->
                                        <!-- Post Block Start -->
                                        <div class="post-block clearfix">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <a class="image" href="blog-single.html"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/plastic-surgery.jpg')}}"></a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="post-desc">
                                                        <a href="blog-single.html">Eye lens regeneration from own stem cells</a>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisc...</p>
                                                    </div>
                                                </div><!--/.col-xs-8 col-sm-8 col-md-8-->
                                            </div><!--/.row-->
                                        </div><!-- Post Block End -->
                                        <!-- Post Block Start -->
                                        <div class="post-block clearfix">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <a class="image" href="blog-single.html"><img alt="IMAGE" class="img-responsive" src="{{ asset('images/media-health-img2.jpg')}}"></a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="post-desc">
                                                        <a href="blog-single.html">Sense of smell may predict Alzheimer’s risk</a>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisc...</p>
                                                    </div>
                                                </div><!--/.col-xs-8 col-sm-8 col-md-8-->
                                            </div><!--/.row-->
                                        </div><!-- Post Block End -->
                                    </div><!--/.recent-posts clearfix-->
                                </div><!-- Widget Detail End -->
                            </div><!-- Widget Block End -->
                            <!-- Widget Block Start -->
                            <div class="widget-block">
                                <div class="widget-title">
                                    <h6>ARCHIVES</h6>
                                </div><!-- Widget Detail Start -->
                                <div class="widget-detail">
                                    <div class="archives clearfix">
                                        <ul>
                                            <li>
                                                <a href="blog.html">September 2016</a>
                                            </li>
                                        </ul>
                                    </div><!--/.archives clearfix-->
                                </div><!-- Widget Detail End -->
                            </div><!-- Widget Block End -->
                            <!-- Widget Block Start -->
                            <div class="widget-block">
                                <div class="widget-title">
                                    <h6>CATEGORIES</h6>
                                </div><!-- Widget Detail Start -->
                                <div class="widget-detail">
                                    <div class="categories clearfix">
                                        <ul>
                                            <li>
                                                <a href="blog.html">Uncategorized</a>
                                            </li>
                                        </ul>
                                    </div><!--/.categories-->
                                </div><!-- Widget Detail End -->
                            </div><!-- Widget Block End -->
                            <!-- Widget Block Start -->
                            <div class="widget-block">
                                <div class="widget-title">
                                    <h6>META</h6>
                                </div><!-- Widget Detail Start -->
                                <div class="widget-detail">
                                    <div class="categories clearfix">
                                        <ul>
                                            <li>
                                                <a href="blog.html">Log in</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Entries <abbr title="Really Simple Syndication">RSS</abbr></a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
                                            </li>
                                            <li>
                                                <a href="blog.html">WordPress.org</a>
                                            </li>
                                        </ul>
                                    </div><!--/.categories-->
                                </div><!-- Widget Detail End -->
                            </div><!-- Widget Block End -->
                        </div><!-- Sidebar Widget End -->
                    </div><!--/.col-sm-12 col-md-4 col-lg-3-->
                </div><!--/.row-->
            </div><!-- Inner Pages End -->
        </div><!--/.container-->
    </section><!-- Content End -->
{% endblock %}