{% extends "::base.html.twig" %}
{% block head %}
    <!-- Jquery Ui Date Picker -->
    <!-- Range Slider Start -->
    <link href="{{ asset('css/jquery-ui.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui-slider-pips.css')}}" rel="stylesheet"><!-- Range Slider End -->
    <!-- Jquery Ui Date Picker -->
    <!-- Boostrap Time Picker -->
    <link href="{{ asset('css/jquery.timepicker.css')}}" rel="stylesheet"><!-- Boostrap Time Picker -->
    <!-- Selectric Start -->
    <link href="{{ asset('css/selectric.css')}}" rel="stylesheet"><!-- Selectric End -->
    <!-- Time Table Start -->
    <link href="{{ asset('css/reset.css')}}" rel="stylesheet">
    <link href="{{ asset('css/time-table.css')}}" rel="stylesheet"><!-- Time Table End -->
    <!-- Multi Level Push Menu -->
    <link href="{{ asset('css/normalize.css')}}" rel="stylesheet">
    <link href="{{ asset('css/component.css')}}" rel="stylesheet">
    <script src="{{ asset('js/modernizr.custom.js')}}">
    </script><!-- Multi Level Push Menu -->
{% endblock %}
{% block body %}
    <!-- Content Start -->
    <section class="content inner-pg service-pg clearfix">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-title clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="breadcrumb-left">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{{ path('sante_home') }}">HOME</a>
                                </li>
                                <li class="active">TIMETABLE</li>
                            </ol><!--/.breadcrumb-->
                        </div><!--/.breadcrumb-left-->
                    </div><!--/.col-sm-6 col-md-6-->
                    <div class="col-sm-6 col-md-6">
                        <div class="breadcrumb-right">
                            <h5>TimeTable</h5>
                        </div>
                    </div><!--/.col-sm-6 col-md-6-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!-- Breadcrumb End -->

            <!-- Inner Pages Start -->
            <div class="inner-content clearfix">
                <!-- Section Title Start -->
                <div class="section-title clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-9">
                                <h1>Timetable</h1>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <select class="form-control">
                                    <option>
                                        Default Sorting
                                    </option>
                                    <option>
                                        Sort By Popularity
                                    </option>
                                    <option>
                                        Sort By Average Rating
                                    </option>
                                    <option>
                                        Sort By Newness
                                    </option>
                                    <option>
                                        Sort By Price: Low To High
                                    </option>
                                    <option>
                                        Sort By Price: High To Low
                                    </option>
                                </select>
                            </div><!--/.col-sm-4 col-md-3-->
                        </div><!--/.row-->
                    </div><!--/.container-->
                </div><!-- Section Title End -->
                <!-- Time Schedule Section Start -->
                <div class="cd-schedule loading">
                    <div class="container">
                        <div class="timeline">
                            <ul>
                                <li><span>9:00</span></li>
                                <li><span>9:30</span></li>
                                <li><span>10:00</span></li>
                                <li><span>10:30</span></li>
                                <li><span>11:00</span></li>
                                <li><span>11:30</span></li>
                                <li><span>12:00</span></li>
                                <li><span>12:30</span></li>
                                <li><span>13:00</span></li>
                                <li><span>13:30</span></li>
                                <li><span>14:00</span></li>
                                <li><span>14:30</span></li>
                                <li><span>15:00</span></li>
                                <li><span>15:30</span></li>
                                <li><span>16:00</span></li>
                                <li><span>16:30</span></li>
                                <li><span>17:00</span></li>
                                <li><span>17:30</span></li>
                                <li><span>18:00</span></li>
                            </ul>
                        </div><!-- .timeline -->
                        <div class="events">
                            <ul>
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Monday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="10:30" data-event="event-1" data-start="9:30">
                                            <a href="#0"><em class="event-name">Carolyn Hunt</em> <em class="doctor-designation">Physician</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="12:30" data-event="event-2" data-start="11:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="15:15" data-event="event-3" data-start="14:00">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Tuesday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="11:00" data-event="event-2" data-start="10:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em> <em class="doctor-designation">Physician</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-restorative-yoga" data-end="13:00" data-event="event-4" data-start="11:30">
                                            <a href="#0"><em class="event-name">Restorative Yoga</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="15:00" data-event="event-1" data-start="13:30">
                                            <a href="#0"><em class="event-name">Abs Circuit</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="16:45" data-event="event-3" data-start="15:45">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Wednesday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-restorative-yoga" data-end="10:15" data-event="event-4" data-start="09:00">
                                            <a href="#0"><em class="event-name">Restorative Yoga</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="11:45" data-event="event-3" data-start="10:45">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="13:45" data-event="event-2" data-start="12:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="15:00" data-event="event-3" data-start="13:45">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Thursday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="10:30" data-event="event-1" data-start="09:30">
                                            <a href="#0"><em class="event-name">Abs Circuit</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-restorative-yoga" data-end="13:45" data-event="event-4" data-start="12:00">
                                            <a href="#0"><em class="event-name">Restorative Yoga</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="16:30" data-event="event-1" data-start="15:30">
                                            <a href="#0"><em class="event-name">Abs Circuit</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="18:30" data-event="event-2" data-start="17:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Friday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="11:00" data-event="event-2" data-start="10:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="14:00" data-event="event-1" data-start="12:30">
                                            <a href="#0"><em class="event-name">Abs Circuit</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="16:45" data-event="event-3" data-start="15:45">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Saturday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="11:00" data-event="event-2" data-start="10:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="14:00" data-event="event-1" data-start="12:30">
                                            <a href="#0"><em class="event-name">Abs Circuit</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="16:45" data-event="event-3" data-start="15:45">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                                <li class="events-group">
                                    <div class="top-info">
                                        <span>Sunday</span>
                                    </div>
                                    <ul>
                                        <li class="single-event" data-content="event-rowing-workout" data-end="11:00" data-event="event-2" data-start="10:00">
                                            <a href="#0"><em class="event-name">Rowing Workout</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-abs-circuit" data-end="14:00" data-event="event-1" data-start="12:30">
                                            <a href="#0"><em class="event-name">Abs Circuit</em></a>
                                        </li>
                                        <li class="single-event" data-content="event-yoga-1" data-end="16:45" data-event="event-3" data-start="15:45">
                                            <a href="#0"><em class="event-name">Yoga Level 1</em></a>
                                        </li>
                                    </ul>
                                </li><!--/.events-group-->
                            </ul>
                        </div><!--/.events-->
                        <div class="event-modal">
                            <header class="header">
                                <div class="content">
                                    <span class="event-date"></span> <!-- <h3 class="event-name"></h3> -->
                                </div>
                                <div class="header-bg"></div>
                            </header><!--/.header-->
                            <div class="body">
                                <div class="event-info"></div>
                                <div class="body-bg"></div>
                            </div><a class="close" href="#0">Close</a>
                        </div><!--/.event-modal-->
                        <div class="cover-layer"></div>
                    </div><!--/.container-->
                </div><!-- .cd-schedule -->
                <!-- Time Schedule Section Start -->
            </div><!-- Inner Pages End -->
        </section><!-- Content End -->
        <!-- Appointment Form Start -->
        <div class="appointment-form white-bg timetable-appointment clearfix">
            <div class="container">
                <h6>Make an Appointment</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="row">
                    <form action="https://demos.hogash.com/medlife-html/contactForm.php" class="md__contactForm" method="post">
                        <div class="col-sm-6 col-md-6 select-box">
                            <div class="form-group">
                                <label for="exampleInputtext1">Select Clinic</label> <select class="form-control md__input" name="clinic">
                                    <option>
                                        Medlife Annapolis
                                    </option>
                                    <option>
                                        Medlife Germantown
                                    </option>
                                    <option>
                                        Medlife Columbia
                                    </option>
                                    <option>
                                        Medlife Olney
                                    </option>
                                    <option>
                                        Medlife Pasadena
                                    </option>
                                    <option>
                                        Medlife Pikesville
                                    </option>
                                    <option>
                                        Medlife Waldorf
                                    </option>
                                </select>
                            </div><!--/.form-group-->
                        </div><!--/.col-sm-6 col-md-6 select-box-->
                        <div class="col-sm-6 col-md-6 select-box">
                            <div class="form-group">
                                <label>Service</label> <select class="form-control md__input" name="service">
                                    <option>
                                        General &amp; Preventive Care
                                    </option>
                                    <option>
                                        Cosmetic Solutions
                                    </option>
                                    <option>
                                        Restorative Solutions
                                    </option>
                                    <option>
                                        Additional Treatments
                                    </option>
                                    <option>
                                        Orthodontics
                                    </option>
                                    <option>
                                        Dentures &amp; Denture Repair
                                    </option>
                                    <option>
                                        Diagnostic &amp; Preventive
                                    </option>
                                    <option>
                                        Diagnostic &amp; Preventive
                                    </option>
                                    <option>
                                        Pediatric Dentistry
                                    </option>
                                </select>
                            </div><!--/.form-group-->
                        </div><!--/.col-sm-6 col-md-6 select-box"-->
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Name</label> <input class=" md__input form-control" id="exampleInputtext3" name="name" type="text">
                            </div>
                        </div><!--/.col-sm-6 col-md-6-->
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputtext4">Phone</label> <input class=" md__input form-control" id="exampleInputtext4" name="phone" type="text">
                            </div>
                        </div><!--/.col-sm-6 col-md-6-->
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label> <input class=" md__input form-control" id="exampleInputEmail1" name="email" type="email">
                            </div>
                        </div><!--/.col-sm-6 col-md-6-->
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group date">
                                <label class="date">Date</label> <input class=" md__input form-control" id="datepicker" name="date" type="text">
                            </div>
                            <div class="form-group time">
                                <label class="time">Pick Time</label> <input class=" md__input form-control" id="time" name="time" type="text">
                            </div>
                        </div><!--/.col-sm-6 col-md-6-->
                        <div class="col-sm-12">
                            <div class="js-cf-message"></div><input name="cf_type" type="hidden" value="cf_1"> <input class="md__redirect-to" type="hidden" value="http://localhost/medlife-india/app">
                        </div><!--/.col-sm-12-->
                        <button class="btn btn-default appointment-button md__submitBtn" type="submit">Make an Appointment</button>
                    </form>
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!-- Appointment Form End -->
{% endblock %}