{% block head %}

    <style type="text/css">

        #tablo{
            margin-left:auto;
            margin-right:auto;
            border-collapse:collapse;

            width:95%;
        }
        #tablo td{



            border:1px solid #000000;
        }
        #tablo th{
            border:1px solid #000000;
            background-color: #9a9ab4;
            color:#000000;
            text-align:center;
        }
        -->

    </style>
{% endblock %}

{% extends "::adminlayout.html.twig" %}

{% block body %}
    <!-- page content -->
    <div class="right_col" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_left">

        </div>



        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Les Articles</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('sante_article') }}">Ajouter des Articles </a>
                                    </li>

                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table  id="tablo" >
                            <tr >
                                <th >Titre De L'Article      </th>
                                <th>Date Creation            </th>
                                <th>Acteur                   </th>
                                <th>Contenu                   </th>
                                <th>Action</th></tr>
                            {% for article in articles  %}
                                <tr>
                                    <td>
                                        <a>{{ article.titre }} </a>
                                    </td>
                                    <td> {{ article.dateCreation|date('d/M/Y') }}</td>
                                    <td >
                                        {{ article.acteur }}
                                    </td>
                                    <td >
                                        {{ article.contenu }}
                                    </td>
                                    <td>
                                        <a href="{{ path('sante_article_update',{'id':article.id}) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a><a href="{{ path('sante_article_delete',{'id':article.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a></td>
                                </tr>
                            {% endfor %}



                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(articles) }}
                        </div>

                    </div>
                </div>

            </div>



            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Les Evenments</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('sante_evenement') }}"> Ajouter un Événement</a>
                                        </li>

                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">



                            <table  id="tablo">
                                <tr >
                                    <th >Titre De L'Evenement     </th>
                                    <th >Description    </th>
                                    <th>Date debut            </th>
                                    <th>date fin                   </th>

                                    <th>Action</th></tr>
                                {% for evenement in evenement  %}
                                    <tr>
                                        <td>
                                            <a>{{ evenement.titre}} </a>
                                        </td>
                                        <td> {{ evenement.description }}</td>
                                        <td >
                                            {{ evenement.dateDebut|date('d/M/Y') }}
                                        </td>
                                        <td >
                                            {{ evenement.dateFin|date('d/M/Y')}}
                                        </td>

                                        <td>
                                            <a href="{{ path('update',{'id':evenement.id}) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a><a href="{{ path('delete',{'id':evenement.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a></td>
                                    </tr>
                                {% endfor %}


                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(evenement) }}
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}