{% extends "::adminlayout.html.twig" %}
{% block head %}
    <style type="text/css">
        #tablo{
            margin-left:auto;
            margin-right:auto;
            border-collapse:collapse;
            width:95%;
        }
        #tablo tr:hover {background-color: #f5f5f5;}

        #tablo td{
            border:1px solid #000000;
        }
        #tablo  th {
            background-color: #4CAF50;
            color: white;
        }
        -->
    </style>
{% endblock %}
{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Les Posts</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('newK') }}">Ajouter des posts </a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
    <table id="tablo">
<tr>
<th>BlogNom</th>
    <th>BlogId</th>
    <th>Conteue</th>
    <th>Date de Pub</th>
<th>UserId</th>
</tr>
        {% for comment in comments %}

        <tr>
            <td>{{ comment.blogId }}</td>

            <td>{{ comment.blogId.id }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.createdAt|date('Y/m/d') }}</td>
            <td>{{ comment.userId }}</td>
            <td><a href="{{ path('sante_comment_delete',{'id':comment.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a></td></td>

            {% endfor %}
      </tr></table>

                            </div>                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                </div>
            </div>
        </div>

                    <!-- /page content -->
{% endblock %}
