<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Hospital</title><!-- Favicon -->
    <link href="{{ asset('images/favicon.ico')}}" rel="icon" type="image/x-icon"><!-- Font Awesome -->
    <link href="{{ asset('fonts/font-awesome.min.css')}}" rel="stylesheet"><!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet"><!--=== Add By Designer ===-->
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('fonts/fonts.css')}}" rel="stylesheet"><!-- Yamm Megamenu -->
    <link href="{{ asset('css/yamm.css')}}" rel="stylesheet"><!-- Animation -->
    <link href="{{ asset('css/animate.css')}}" rel="stylesheet"><!-- Animation -->
    <!-- Flat Icon -->
    <link href="{{ asset('fonts/flaticon.css')}}" rel="stylesheet"><!-- Flat Icon -->
    <!-- Multi Level Push Menu -->
    <link href="{{ asset('css/normalize.css')}}" rel="stylesheet">
    <link href="{{ asset('css/component.css')}}" rel="stylesheet">
    <script src="{{ asset('js/modernizr.custom.js')}}">
    </script><!-- Multi Level Push Menu -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

    <!-- REVOLUTION STYLE SHEETS -->
    <link href="{{ asset('js/revslider/settings.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/revslider/layers.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/revslider/navigation.css')}}" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
</head>

{% block body %}


    <div class="breadcrumb-title clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="breadcrumb-left">

                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="breadcrumb-right">

                        <h5>Succéss demande</h5>

                    </div>

                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!-- Breadcrumb End -->

<br/><br/>
    <div class="panel panel panel-primary" style="margin: 100px;">
        <div class="panel-body">
           <center>
               <h1 style="color: #7ED321">Votre rendez vous a été ajouté avec succéss</h1>
                <h4>Par défault le rendez vous est en attente jusqu'a le medcin confirme votre demande </h4>
               <h4>vous pouvez suivre votre rendez vous ici</h4><br/>

               <form action="{{ path(  'medcin'  ) }}">

                    <button type="submit" class="btn btn-info btn-lg " style="color: #0D3349">Suivre rendez-vous</button>

                   <form action="{{ path(  'medcin'  ) }}">

                       <button type="submit" class="btn btn-info btn-lg   " style="color: #0D3349" >Espace medcin</button>
                   </form>

           </center>

        </div>
    </div>






{% endblock %}
