{% extends "::adminlayout.html.twig"%}

{% block title %}SanteBundle:AdminMedcin:lire{% endblock %}

{% block body %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Liste des medcin</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">

                        <div class="row">


                            <div class="clearfix"></div>
                            <div class="human-body-parts clearfix">
                                <div class="row">
                                    {% for m in medcinsqb %}
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">

                                            <div class="body-parts-block">
                                                <div class="right col-xs-5 text-center">
                                                    <img src="{{ asset('BackOffice/images/user.png')}}" alt="" class="img-circle img-responsive">
                                                </div>
                                                <h6>{{ m.username }}</h6>
                                                <p>Nom & prénom :{{ m.nom }} {{ m.prenom }}{{ m.email }} </p><p>{{ m.adresse }} </p>
                                                <button type="button" class="btn btn-success btn-sm"><a href="{{ path(  'supprimerAdminMedcin'   ,  {'id':m.id}  ) }}">Supprimer</a></button>

                                            </div><!--/.body-parts-block-->
                                        </div>
                                    {% endfor %}
                                </div><!--/.row-->
                            </div>








                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
